# 2014-2018 ACS Data by Neighborhood Tabulation Area (NTA)

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from pandas.api.types import CategoricalDtype

In [2]:
def colpercent(df):
    print("Total NaN in Dataframe: " , df.isnull().sum().sum())
    print("Percent Missingness in Dataframe: ", 100*df.isnull().sum().sum()/(len(df.index)*len(df.columns)))
    print('-'*55)
    percentnulldf = df.isnull().sum()/(df.isnull().sum()+df.notna().sum())
    print("Percent Missingness by Columns:")
    print(100*percentnulldf[percentnulldf>0].sort_values(ascending=False))
    
def data_eval(df):
    for i in range(len(df.columns)):
        print('-'*50)
        print('Column Name: ', df.columns[i])
        if (df[df.columns[i]].dtypes == 'float64' or df[df.columns[i]].dtypes == 'int64') and df[df.columns[i]][df[df.columns[i]]<0].count()>0:
            print('Number of negatives: ', df[df.columns[i]][df[df.columns[i]]<0].count())
        if df[df.columns[i]][df[df.columns[i]]=='None'].count() > 0:
            print('Number of None strings: ', df[df.columns[i]][df[df.columns[i]]=='None'].count())
        if df[df.columns[i]][df[df.columns[i]]==''].count() > 0:
            print('Number of empty strings: ', df[df.columns[i]][df[df.columns[i]]==''].count())
        else:
            print('Column ' + str(i) + ' has no negatives, empty strings or Nones')

## Import and load data

In [3]:
acsnta_raw = pd.read_excel('../../data/00_raw/econ_2018_acs5yr_nta.xlsx',
                          usecols = 'B:D, J, O, T, Y, AD, AI, CL, CQ, CV, DA, DF, DK, DP, DU, DZ, EE, EJ, EO, ET, EY, HV, IA, IF, IK, IP, IU, IZ, IE, JJ, JO, JT, JY, KD, KI, KN, KS, KX, LC, PD, PI, PN, UI, UN, US, UX')

In [4]:
acsnta = acsnta_raw.copy()

Rename columns:

In [12]:
acsnta.columns = ['nta_name', 'nta_code', 'borough', 'in_labor_force',
                 'civilian_labor_force', 'employed', 'unemployed', 'armed_forces',
                 'not_in_labor_force', 'workers_16+', 'vehicle', 'carpool',
                 'public_transit', 'walking', 'other_commuting_means', 'work_at_home',
                 'mean_commuting_time_(min)', 'occ_civilian_employed_16+', 'mng_biz_sci_arts',
                 'service', 'sales_office','natres_construct_maint', 'prod_transport_moving',
                 'class_civilian_employed_16+', 'salary_workers', 'govt_workers', 'self-employed',
                 'unpaid_family_workers', 'total_households','hincome_10K_under',
                 'hincome_10K_15K','hincome_15K_25K', 'hincome_25K_35K', 
                 'hincome_35K_50K', 'hincome_50K_75K', 'hincome_75K_100K',
                 'hincome_100K_150K', 'hincome_150K_200K', 'hincome_200K_more',
                 'median_hincome', 'mean_hincome', 'median_earnings', 'median_earnings_male',
                 'median_earnings_female','all_families','all_families_below_poverty',
                 'pop_poverty_status_determ', 'pop_below_poverty']

## Inspect data frame

In [13]:
acsnta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176 entries, 0 to 175
Data columns (total 48 columns):
nta_name                       176 non-null object
nta_code                       176 non-null object
borough                        176 non-null object
in_labor_force                 176 non-null int64
civilian_labor_force           176 non-null int64
employed                       176 non-null int64
unemployed                     176 non-null int64
armed_forces                   176 non-null int64
not_in_labor_force             176 non-null int64
workers_16+                    176 non-null int64
vehicle                        176 non-null int64
carpool                        176 non-null int64
public_transit                 176 non-null int64
walking                        176 non-null int64
other_commuting_means          176 non-null int64
work_at_home                   176 non-null int64
mean_commuting_time_(min)      174 non-null float64
occ_civilian_employed_16+      176 non-null int64
mng_biz_sci_arts               176 non-null int64
service                        176 non-null int64
sales_office                   176 non-null int64
natres_construct_maint         176 non-null int64
prod_transport_moving          176 non-null int64
class_civilian_employed_16+    176 non-null int64
salary_workers                 176 non-null int64
govt_workers                   174 non-null float64
self-employed                  176 non-null int64
unpaid_family_workers          176 non-null int64
total_households               176 non-null int64
hincome_10K_under              176 non-null int64
hincome_10K_15K                176 non-null int64
hincome_15K_25K                176 non-null int64
hincome_25K_35K                176 non-null int64
hincome_35K_50K                176 non-null int64
hincome_50K_75K                176 non-null int64
hincome_75K_100K               176 non-null int64
hincome_100K_150K              176 non-null int64
hincome_150K_200K              176 non-null int64
hincome_200K_more              176 non-null int64
median_hincome                 173 non-null float64
mean_hincome                   173 non-null float64
median_earnings                175 non-null float64
median_earnings_male           175 non-null float64
median_earnings_female         175 non-null float64
all_families                   176 non-null int64
all_families_below_poverty     176 non-null int64
pop_poverty_status_determ      176 non-null int64
pop_below_poverty              176 non-null int64
dtypes: float64(7), int64(38), object(3)
memory usage: 67.4+ KB

In [14]:
acsnta.sample(n=5)

,nta_name,nta_code,borough,in_labor_force,civilian_labor_force,employed,unemployed,armed_forces,not_in_labor_force,workers_16+,...,hincome_200K_more,median_hincome,mean_hincome,median_earnings,median_earnings_male,median_earnings_female,all_families,all_families_below_poverty,pop_poverty_status_determ,pop_below_poverty
134,Far Rockaway-Bayswater,QN15,Queens,24512,24481,22450,2031,31,16360,21811,...,760,50213.0,67475.0,32964.0,46366.0,40444.0,11736,2038,54523,10810
115,Washington Heights South,MN36,Manhattan,53735,53735,48838,4897,0,26877,47537,...,957,50880.0,67649.0,27978.0,38920.0,38662.0,17082,3072,92277,20966
62,Flatbush,BK42,Brooklyn,55781,55781,51890,3891,0,28524,50533,...,2108,55804.0,74156.0,34777.0,48332.0,44716.0,24284,3293,106409,19518
156,Old Astoria,QN71,Queens,14535,14535,13624,911,0,6879,12886,...,826,61029.0,85973.0,44848.0,54383.0,57325.0,5260,865,24449,4562
46,Brownsville,BK81,Brooklyn,20606,20606,16733,3873,0,21049,16021,...,210,20295.0,37269.0,26386.0,38944.0,35624.0,10501,3373,50853,21848

Exclude Staten Island:

In [19]:
acsnta = acsnta[acsnta.borough != 'Staten Island']

Check for missing values or incorrectly entered data:

In [15]:
colpercent(acsnta)

Total NaN in Dataframe:  13
Percent Missingness in Dataframe:  0.15388257575757575
-------------------------------------------------------
Percent Missingness by Columns:
mean_hincome                 1.704545
median_hincome               1.704545
govt_workers                 1.136364
mean_commuting_time_(min)    1.136364
median_earnings_female       0.568182
median_earnings_male         0.568182
median_earnings              0.568182
dtype: float64

In [16]:
data_eval(acsnta)

--------------------------------------------------
Column Name:  nta_name
Column 0 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  nta_code
Column 1 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  borough
Column 2 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  in_labor_force
Column 3 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  civilian_labor_force
Column 4 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  employed
Column 5 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  unemployed
Column 6 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  armed_forces
Column 7 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  not_in_labor_force
Column 8 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  workers_16+
Column 9 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  vehicle
Column 10 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  carpool
Column 11 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  public_transit
Column 12 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  walking
Column 13 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  other_commuting_means
Column 14 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  work_at_home
Column 15 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  mean_commuting_time_(min)
Column 16 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  occ_civilian_employed_16+
Column 17 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  mng_biz_sci_arts
Column 18 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  service
Column 19 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  sales_office
Column 20 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  natres_construct_maint
Column 21 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  prod_transport_moving
Column 22 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  class_civilian_employed_16+
Column 23 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  salary_workers
Column 24 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  govt_workers
Column 25 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  self-employed
Column 26 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  unpaid_family_workers
Column 27 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  total_households
Column 28 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_10K_under
Column 29 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_10K_15K
Column 30 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_15K_25K
Column 31 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_25K_35K
Column 32 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_35K_50K
Column 33 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_50K_75K
Column 34 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_75K_100K
Column 35 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_100K_150K
Column 36 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_150K_200K
Column 37 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  hincome_200K_more
Column 38 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  median_hincome
Column 39 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  mean_hincome
Column 40 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  median_earnings
Column 41 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  median_earnings_male
Column 42 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  median_earnings_female
Column 43 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  all_families
Column 44 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  all_families_below_poverty
Column 45 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  pop_poverty_status_determ
Column 46 has no negatives, empty strings or Nones
--------------------------------------------------
Column Name:  pop_below_poverty
Column 47 has no negatives, empty strings or Nones

## Feature engineering

Create dictionary with NTA codes and names:

In [23]:
pd.Series(acsnta.nta_name.values,index=acsnta.nta_code).to_dict()

{'BX31': 'Allerton-Pelham Gardens',
 'BX05': 'Bedford Park-Fordham North',
 'BX06': 'Belmont',
 'BX07': 'Bronxdale',
 'BX01': 'Claremont-Bathgate',
 'BX13': 'Co-op City',
 'BX75': 'Crotona Park East',
 'BX14': 'East Concourse-Concourse Village',
 'BX17': 'East Tremont',
 'BX03': 'Eastchester-Edenwald-Baychester',
 'BX40': 'Fordham South',
 'BX26': 'Highbridge',
 'BX27': 'Hunts Point',
 'BX30': 'Kingsbridge Heights',
 'BX33': 'Longwood',
 'BX34': 'Melrose South-Mott Haven North',
 'BX35': 'Morrisania-Melrose',
 'BX39': 'Mott Haven-Port Morris',
 'BX41': 'Mount Hope',
 'BX22': 'North Riverdale-Fieldston-Riverdale',
 'BX43': 'Norwood',
 'BX99': 'park-cemetery-etc-Bronx',
 'BX46': 'Parkchester',
 'BX10': 'Pelham Bay-Country Club-City Island',
 'BX49': 'Pelham Parkway',
 'BX98': 'Rikers Island',
 'BX52': 'Schuylerville-Throgs Neck-Edgewater Park',
 'BX55': 'Soundview-Bruckner',
 'BX09': 'Soundview-Castle Hill-Clason Point-Harding Park',
 'BX29': 'Spuyten Duyvil-Kingsbridge',
 'BX36': 'University Heights-Morris Heights',
 'BX28': 'Van Cortlandt Village',
 'BX37': 'Van Nest-Morris Park-Westchester Square',
 'BX63': 'West Concourse',
 'BX08': 'West Farms-Bronx River',
 'BX59': 'Westchester-Unionport',
 'BX44': 'Williamsbridge-Olinville',
 'BX62': 'Woodlawn-Wakefield',
 'BK27': 'Bath Beach',
 'BK31': 'Bay Ridge',
 'BK75': 'Bedford',
 'BK29': 'Bensonhurst East',
 'BK28': 'Bensonhurst West',
 'BK88': 'Borough Park',
 'BK19': 'Brighton Beach',
 'BK09': 'Brooklyn Heights-Cobble Hill',
 'BK81': 'Brownsville',
 'BK77': 'Bushwick North',
 'BK78': 'Bushwick South',
 'BK50': 'Canarsie',
 'BK33': 'Carroll Gardens-Columbia Street-Red Hook',
 'BK69': 'Clinton Hill',
 'BK61': 'Crown Heights North',
 'BK63': 'Crown Heights South',
 'BK83': 'Cypress Hills-City Line',
 'BK38': 'DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill',
 'BK30': 'Dyker Heights',
 'BK91': 'East Flatbush-Farragut',
 'BK82': 'East New York',
 'BK85': 'East New York (Pennsylvania Ave)',
 'BK90': 'East Williamsburg',
 'BK95': 'Erasmus',
 'BK42': 'Flatbush',
 'BK58': 'Flatlands',
 'BK68': 'Fort Greene',
 'BK45': 'Georgetown-Marine Park-Bergen Beach-Mill Basin',
 'BK26': 'Gravesend',
 'BK76': 'Greenpoint',
 'BK25': 'Homecrest',
 'BK41': 'Kensington-Ocean Parkway',
 'BK44': 'Madison',
 'BK43': 'Midwood',
 'BK73': 'North Side-South Side',
 'BK79': 'Ocean Hill',
 'BK46': 'Ocean Parkway South',
 'BK37': 'Park Slope-Gowanus',
 'BK99': 'park-cemetery-etc-Brooklyn',
 'BK64': 'Prospect Heights',
 'BK60': 'Prospect Lefferts Gardens-Wingate',
 'BK96': 'Rugby-Remsen Village',
 'BK21': 'Seagate-Coney Island',
 'BK17': 'Sheepshead Bay-Gerritsen Beach-Manhattan Beach',
 'BK93': 'Starrett City',
 'BK35': 'Stuyvesant Heights',
 'BK34': 'Sunset Park East',
 'BK32': 'Sunset Park West',
 'BK23': 'West Brighton',
 'BK72': 'Williamsburg',
 'BK40': 'Windsor Terrace',
 'MN25': 'Battery Park City-Lower Manhattan',
 'MN03': 'Central Harlem North-Polo Grounds',
 'MN11': 'Central Harlem South',
 'MN27': 'Chinatown',
 'MN15': 'Clinton',
 'MN34': 'East Harlem North',
 'MN33': 'East Harlem South',
 'MN22': 'East Village',
 'MN21': 'Gramercy',
 'MN04': 'Hamilton Heights',
 'MN13': 'Hudson Yards-Chelsea-Flat Iron-Union Square',
 'MN31': 'Lenox Hill-Roosevelt Island',
 'MN14': 'Lincoln Square',
 'MN28': 'Lower East Side',
 'MN06': 'Manhattanville',
 'MN01': 'Marble Hill-Inwood',
 'MN17': 'Midtown-Midtown South',
 'MN09': 'Morningside Heights',
 'MN20': 'Murray Hill-Kips Bay',
 'MN99': 'park-cemetery-etc-Manhattan',
 'MN24': 'SoHo-TriBeCa-Civic Center-Little Italy',
 'MN50': 'Stuyvesant Town-Cooper Village',
 'MN19': 'Turtle Bay-East Midtown',
 'MN40': 'Upper East Side-Carnegie Hill',
 'MN12': 'Upper West Side',
 'MN35': 'Washington Heights North',
 'MN36': 'Washington Heights South',
 'MN23': 'West Village',
 'MN32': 'Yorkville',
 'QN98': 'Airport',
 'QN70': 'Astoria',
 'QN48': 'Auburndale',
 'QN76': 'Baisley Park',
 'QN46': 'Bayside-Bayside Hills',
 'QN43': 'Bellerose',
 'QN10': 'Breezy Point-Belle Harbor-Rockaway Park-Broad Channel',
 'QN35': 'Briarwood-Jamaica Hills',
 'QN33': 'Cambria Heights',
 'QN23': 'College Point',
 'QN25': 'Corona',
 'QN45': 'Douglas Manor-Douglaston-Little Neck',
 'QN27': 'East Elmhurst',
 'QN52': 'East Flushing',
 'QN29': 'Elmhurst',
 'QN50': 'Elmhurst-Maspeth',
 'QN15': 'Far Rockaway-Bayswater',
 'QN22': 'Flushing',
 'QN17': 'Forest Hills',
 'QN41': 'Fresh Meadows-Utopia',
 'QN47': 'Ft. Totten-Bay Terrace-Clearview',
 'QN44': 'Glen Oaks-Floral Park-New Hyde Park',
 'QN19': 'Glendale',
 'QN12': 'Hammels-Arverne-Edgemere',
 'QN07': 'Hollis',
 'QN31': 'Hunters Point-Sunnyside-West Maspeth',
 'QN28': 'Jackson Heights',
 'QN61': 'Jamaica',
 'QN06': 'Jamaica Estates-Holliswood',
 'QN60': 'Kew Gardens',
 'QN37': 'Kew Gardens Hills',
 'QN66': 'Laurelton',
 'QN57': 'Lindenwood-Howard Beach',
 'QN30': 'Maspeth',
 'QN21': 'Middle Village',
 'QN51': 'Murray Hill',
 'QN26': 'North Corona',
 'QN42': 'Oakland Gardens',
 'QN71': 'Old Astoria',
 'QN56': 'Ozone Park',
 'QN99': 'park-cemetery-etc-Queens',
 'QN38': 'Pomonok-Flushing Heights-Hillcrest',
 'QN34': 'Queens Village',
 'QN62': 'Queensboro Hill',
 'QN68': 'Queensbridge-Ravenswood-Long Island City',
 'QN18': 'Rego Park',
 'QN54': 'Richmond Hill',
 'QN20': 'Ridgewood',
 'QN05': 'Rosedale',
 'QN01': 'South Jamaica',
 'QN55': 'South Ozone Park',
 'QN02': 'Springfield Gardens North',
 'QN03': 'Springfield Gardens South-Brookville',
 'QN08': 'St. Albans',
 'QN72': 'Steinway',
 'QN49': 'Whitestone',
 'QN53': 'Woodhaven',
 'QN63': 'Woodside'}